# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

WebServer/src/constants/server_info.js


WebServer/backend/prepro
WebServer/backend/token_storage
WebServer/backend/data/new_user_info.json
# dependencies
WebServer/node_modules
